<div class="app-body">
  <ng-container *ngFor="let rowNumber of getAllRowNumberArray()">
    <div class="video-row">
      <ng-container *ngFor="let videoFile of getVideoFiles(rowNumber); last as isLast">
        <div class="video-container" [ngStyle]="{'width': getVideoContainerWidth(isLast), 'height': videoContainerHeight}">
          <video #video [src]="videoFile.url"
            (loadedmetadata)="onLoadedMetadata(video, videoFile)"
            (timeupdate)="onVideoTimeUpdate(slider, video, videoFile)"
            (canplay)="videoFile.playing ? video.play() : video.pause()"
            (play)="videoFile.playing = true"
            (pause)="videoFile.playing = false"
            (ended)="videoFile.playing = false"
            [ngStyle]="{'width': getVideoWidth(isLast), 'height': videoHeight, 'opacity': slider.dragging ? '0.5' : '1'}"></video>
          <div class="video-controls-button"
            (click)="video.paused ? video.play() : video.pause()">
            <i class="pi pi-play" [ngClass]="{'hidden': !video.paused}"></i>
            <i class="pi pi-pause" [ngClass]="{'hidden': video.paused}"></i>
            <div class="video-controls-slider-minivideo">
              <video #miniVideo [src]="videoFile.url" [ngStyle]="{'opacity': slider.dragging ? '1' : '0'}"></video>
            </div>
            <div class="video-controls-slider-time" [ngStyle]="{'opacity': slider.dragging ? '1' : '0'}">{{getHHMMSS(miniVideo.currentTime)}}</div>
          </div>
          <div class="video-controls-slider">
            <p-slider #slider [(ngModel)]="videoFile.currentTime" [max]="videoFile.duration"
              (onChange)="onChangeTimeSlider(slider, video, miniVideo, videoFile)"
              (onSlideEnd)="onTimeSlideEnd(slider, video, miniVideo, videoFile)"></p-slider>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
