:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.app-body {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: calc(100% + 10px); // 10px links to VIDEO_CONTAINER_COUNT_MAX
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        display: none;
    }

    .video-container {
        position: relative;
        background-color: black;
    }

    .video-container {
        overflow: hidden;

        > video {
            background-color: black;
        }
        &.slider-dragging {
            > video {
                opacity: 0.5;
            }
        }
        &.aspect-16-9 {
            > video {
                object-fit: fill;
            }
        }
        &.playing-failed {
            > video {
                background-color: hsl(0, 100%, 10%);
            }
        }
        &:fullscreen {
            > video {
                width: 100% !important;
                height: 100% !important;
                object-fit: contain !important;
            }
        }
    }

    .video-container {
        cursor: none;

        .video-container-controls-overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            ::ng-deep button.p-button {
                width: 32px;
                height: 32px;
                padding: 0 0;

                .p-button-icon {
                    color: #dee2e6;
                }

                &:focus {
                    box-shadow: none;
                }
                &:active {
                    background: transparent;
                }
            }
            .video-container-header {
                position: absolute;
                top: -32px;
                opacity: 0;
                transition: all .2s ease-out;

                height: 32px;
                display: flex;
                width: 100%;

                .button-remove {
                    margin-left: auto;
                }
            }
            .video-container-body {
                position: absolute;
                top: 32px;
                width: 100%;
                height: calc(100% - 32px * 2);
                display: flex;
                justify-content: center;
                align-items: center;

                .icon-warning {
                    visibility: hidden;
                    color: #dee2e6;
                    font-size: 3rem;
                }
            }
            .video-container-footer {
                position: absolute;
                bottom: -32px;
                opacity: 0;
                transition: all .2s ease-out;

                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 32px;

                background-color: rgba(0, 0, 0, 0.2);

                .video-container-controls-left {
                    width: calc(32px * 2);
                    display: flex;
                    align-items: center;
                }
                .video-container-controls-center {
                    flex-grow: 1;
                    margin: 0 0.75rem;
                    display: flex;
                    height: 100%;
                    position: relative;

                    .video-container-controls-slider {
                        position: absolute;
                        width: 100%;
                        height: 10px;
                        top: calc(50% - 5px);
                        background-color: #9DA8B3;
                        border-radius: 2px;
                        opacity: 0.8;

                        .video-container-controls-range {
                            position: absolute;
                            height: 100%;
                            background-color: #dee2e6;
                            border-radius: 2px;
                        }
                    }
                    .video-container-controls-slider-handle {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        p-slider {
                            width: 100%;

                            ::ng-deep .p-slider-horizontal {
                                height: 32px;
                                border-radius: 0;
                                background-color: transparent;
                            }
                            ::ng-deep .p-slider-range {
                                display: none;
                            }
                            ::ng-deep .p-slider-handle {
                                top: 4px;
                                width: 10px;
                                height: 24px;
                                margin-left: -5px;
                                margin-top: 0;
                                border: 1px solid #9DA8B3;
                                border-radius: 2px;
                                background-color: #dee2e6;
                            }
                        }
                    }
                    .video-container-controls-range-handle {
                        position: absolute;
                        top: 32px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        p-slider {
                            width: 100%;

                            ::ng-deep .p-slider-handle {
                                top: -45px;
                                width: 10px;
                                height: 32px;
                                margin-left: -5px;
                                margin-top: 0;
                                border: 0;
                                border-radius: 0;
                                background-color: transparent;
                                cursor: col-resize;

                                &:focus {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
                .video-container-controls-right {
                    width: calc(32px * 2);
                    position: relative;
                    display: flex;
                    align-items: center;

                    .icon-slash {
                        position: absolute;
                        pointer-events: none;
                        font-weight: bold;
                        color: #dee2e6;
                        transform: scaleX(-1);
                        left: 8px;
                    }
                }
            }
        }
        &.mousemove:hover, &.slider-dragging {
            cursor: auto;

            .video-container-controls-overlay {
                visibility: visible;
                .video-container-header {
                    top: 0;
                    opacity: 1;
                }
                .video-container-footer {
                    bottom: 0;
                    opacity: 1;
                }
            }
        }
        &.playing-failed {
            .video-container-controls-overlay {
                visibility: visible; // always visible...

                .video-container-body {
                    .icon-warning {
                        visibility: visible;
                    }
                }
                .video-container-footer {
                    visibility: hidden; // but, control buttons hidden.
                }
            }
        }
        &:fullscreen {
            .video-container-controls-overlay {
                .video-container-header {
                    .button-remove {
                        display: none;
                    }
                }
            }

        }
    }

    .video-container {
        .video-container-minivideo-overlay {
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            pointer-events: none;
            visibility: hidden;

            .video-controls-slider-minivideo {
                max-width: 50%;
                max-height: 50%;
                aspect-ratio: 16/9;
    
                video {
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                    border: 2px solid white;
                    background-color: black;
                }
            }
            .video-controls-slider-time {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 50%;
                color: white;
                font-family: monospace;
                font-size: 1.25rem;
                margin-top: 0.5rem;
                }
        }
        &.slider-dragging {
            .video-container-minivideo-overlay {
                visibility: visible;
            }
        }
        &.aspect-16-9 {
            video {
                object-fit: fill;
            }
        }
    }
}